*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: monospace;
}
a{
    text-decoration:none;
    color:#000;
}
ul{
    list-style-type:none;
}
.container{
    width:80%;
    margin:0 auto;
}
.btn{
    border:none;
    outline:none;
    cursor:pointer;
    text-align:center;
    padding:10px 15px;
    border-radius:5px;
}
.nav{
    width:100%;
    background:#ddd;
    padding:10px 0;
}
.logo a{
    font-size:60px;
    color:purple;
    font-weight:700;
    transition:0.3s all ease;
}
.logo a:hover{
    color:orange;
}
.logo .camp{
    color:orange;
}
.logo a:hover .camp{
    color:purple;
}
.nav-flex{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    display:flex;
}
.navbar ul li{
    padding:10px 15px;
}
.navbar ul li a{
    color : purple;
    text-transform: capitalize;
    font-size:20px;
    transition:0.5s all ease;
}
.nabar ul li a:hover{
    color:aqua;
}
.header{
    width:100%;
    padding:150px 0;
}
.header .header-text-flex{
    display:flex;
    justify-content: center;
    align-items:center
}
.header .header-text-flex h2{
    font-size:45px;
    color:purple;
    font-weight:600;
}
.header .header-content-flex{
    display:flex;
    justify-content: space-between;
    gap:40px;
}
.header .header-text-section h3{
    font-size:30px;
    color:purple;
    font-weight:500;
    margin-bottom:40px
}
.btn-header-section{
    background:purple;
    padding:15px 20px;
    color:#fff;
    transition:0.5s all ease;
}
.btn-header-section:hover{
    background:transparent;
    color:#fff;

}
.header .header-img-section img{
    max-width:100%;
}